body{
    margin:0;
    padding:0;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.container{
    width: 60%;
    height: 80vh;
    background-color: white;
    margin: auto 10%;
    left: 10%;
    right: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.img, .info{
    width: 50%;
    height: 100%;
    padding: 5%;
    box-sizing: border-box;
    margin: 0;
}

.img{

    background: url('img/earphones.png') center center no-repeat;
    background-clip: content-box;
    background-size: contain;
    background-origin: content-box;
}

.info{
    padding-right: 0;
    padding-left: 3%;
    display: block;
    /*margin-top: 10%;*/
    font: 1em Arial, sans-serif;

}



 .price{
    margin-top: 5%;
    font-size: 2em;
}

.description{
    margin-bottom: 10%;
    padding-right: 25%;
}

.button a{

    width: 250px;
    line-height: 2.5em;
    display: block;
    background-color: rgb(236, 116, 74);
    margin-top: 10%;
    text-decoration: none;
    color: white;
    text-align: center;

}



@media screen and (max-width: 540px) {

    .container{
        width: 100%;
        flex-direction: column;
        height: 100vh;
        margin: 0;

    }
    .img, .info{
        width: 100%;
        height: 50%;
        padding: 5%;
        box-sizing: border-box;
        margin: 0;
    }

    .info h2{
        text-align: center;
    }


    .info > div, .button a{
        margin: 3% auto;
        padding: 0;
        text-align: center;
    }

    .info {
        margin: 5% auto;
    }

    .button a{
        max-width: 90%;
    }
}


@media screen and (max-width: 1023px) and (min-width: 541px) and (min-height: 480px){
    .container{
        width: 90%;
        flex-direction: column;
        height: 90vh;
        margin: 5% auto;

    }
    .img, .info{
        width: 100%;
        height: 50%;
        padding: 5%;
        box-sizing: border-box;
        margin: 0;
    }

    .info h2{
        text-align: center;
    }


    .info > div, .button a{
        margin: 3% auto;
        padding: 0;
        text-align: center;
    }
    .info .description{
        padding: 0 10%;
    }
}

@media screen and (max-height: 420px) {
    .container{
        width: 90%;
        height: 90vh;

    }

    .info > div, .info h2{
        margin: 2% auto;
        padding: 0 5%;
        font-size: .8em;
    }

    .info h2{
        font-size: 1.5em;
    }

    .info .price_desc, .info h2{
        margin-top: 10%;
    }
    .info .price{
        font-size: 1.4em;
    }
    .button a {
        max-width: 80%;
    }
}