*{
    padding:0;
    margin:0;
}

body{
    background: url("img/back1.jpg") center/contain;
}

.header{
    width: 100%;
    height: 90vh;
    background: url("img/vlastelinat-na-prastenite.jpg") center/cover;

    position: relative;
}

.header_info{
    padding: 10px;
    color: #fff5d3;
    font-size: 1em;
    text-shadow: 2px 2px 2px #000000;
    position: absolute;
    bottom: 2%;

}

.logo{

    width: 30%;
    height: 30vh;
    background: url("img/logo.png") center/contain no-repeat;
    position: absolute;
    top: 2%;
    left: 3%;
}

h1{
    color: #fff5d3;
    font-size: 4rem;
    text-shadow: 2px 2px 2px #000000;
    position: absolute;
    top: 10%;
    right: 5%;

}

h1, h2{

    /*font-family: 'Caveat', cursive, sans-serif;*/
    font-family: 'Segoe Print', cursive, sans-serif;
}

nav > ul{
    display: flex;
    justify-content: center;
    align-items: baseline;
    position: absolute;
    /*top: 80vh;*/
    left: 0;
    right: 0;


}

nav {
    width: 100%;
    height: 40px;

}

nav > ul li a, .side_menu > ul li a{
    display: block;
    text-decoration: none;
    color: #fff5d3;
    background-color: #313134;
    padding: 10px 30px 10px 40px;
    font-size: 18px;
    font-family: 'Verdana', cursive, sans-serif;
    text-shadow: 2px 2px 2px black;

}

nav li > ul li a, .side_menu li > ul li a{
    font-size: 14px;
}

nav > ul li, .side_menu > ul li{
    list-style: none;
}
 nav li ul, .side_menu li ul{
     max-height:0;
     overflow:hidden;
     width: inherit;
     transition: all 0.3s linear;

 }

nav > ul li a:hover, .side_menu > ul li a:hover{
    background-color: #232323;

}

nav li:hover > ul, .side_menu li:hover > ul{
    max-height:50px;

}

.wrapper{
    width: 100%;
    position: relative;
}

.img{
    width: 100%;
    height: 60vh;
    background: center/cover no-repeat;
    position: relative;
}
.img h2{
    display: block;
    position: absolute;
    top: 10%;
    left: 10%;
    color: white;
    text-shadow: 2px 2px 2px black;
}


.articles{
    margin: 40px auto;
    width: 60%;
    height: 100%;
}

.article{
    margin: 20px auto;
    border-bottom: solid 2px black;
}

.text{
    padding: 30px 0;
}


.side_menu{
    display: none;
    position: fixed;
    right: 0;
    top: 35vh;
    /*width: 150px;*/
}

.side_menu > ul li a{
}

.fa-arrow-alt-circle-up{
    display: none;
    position: fixed;
    bottom: 40px;
    left: 40px;
    font-size: 58px;
    text-decoration: none;
    color: #313134;
}


